<div class="row col-4">
	<label for="code" class="form-label">Code</label> 
	<input type="text" class="form-control" th:field="*{code}" id="code" placeholder="Code" autofocus="true"> 
	<span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="text-danger"></span> 
	<br/>
</div>
<div class="row col-12">
	<label for="name" class="form-label">Name</label>
	<input type="text" class="form-control" th:field="*{name}" name="name" id="name" placeholder="Name" > 
	<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span> 
	<br/>
</div>
