<!DOCTYPE html>
<html
	layout:decorate="~{shared/layout}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>List Counter</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="content-header">
			<div class="container-fluid">
				<!-- <h1>Create Brand</h1> -->
			</div>
		</section>
		<section class="content">
			<div class="container-fluid">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Counter</h3>
						<div class="card-tools">
							<a href="/counter/create"><span class="fas fa-plus"></span> Create</a>
						</div>
					</div>
					<!-- <div class="card-body table-responsive p-0" style="height: 350px;"> -->
					<div class="card-body" >
						<table class="table table-head-fixed table-hover">
							<thead>
								<tr>
									<th>Code</th>
									<th>Name</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="counter : ${counters}">
									<td th:text="${counter.code}"></td>
									<td th:text="${counter.name}"></td>
									<td><a th:href="@{/counter/edit/{id}(id=${counter.id})}">Edit</a></td>
									<td><a th:href="@{/counter/delete/{id}(id=${counter.id})}">Delete</a></td>
								</tr>
							</tbody>
						</table>
					</div> <!-- /.card-body -->
					<div class="card-footer">
						<!-- <input type="submit" class="btn btn-primary" value="Create"> -->
					</div> 
				</div> <!-- /.card -->
			</div> <!-- /.container-fluid -->
		</section>
	</div>
</body>
</html>