<!-- jQuery -->
<script th:src="@{/webjars/AdminLTE/{pversi}/plugins/jquery/jquery.min.js(pversi=${versi})}"></script> 

<!-- jQuery UI 1.11.4 -->
<script th:src="@{/webjars/AdminLTE/{pversi}/plugins/jquery-ui/jquery-ui.min.js(pversi=${versi})}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script th:src="@{/webjars/AdminLTE/{pversi}/plugins/bootstrap/js/bootstrap.bundle.min.js(pversi=${versi})}"></script>
<!-- ChartJS -->
<!-- <script src="/webjars/AdminLTE/3.1.0/plugins/chart.js/Chart.min.js"></script> -->

<!-- Sparkline -->
<!-- <script src="/webjars/AdminLTE/3.1.0/plugins/sparklines/sparkline.js"></script> -->

<!-- JQVMap -->
<!-- <script src="/webjars/AdminLTE/3.1.0/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="/webjars/AdminLTE/3.1.0/plugins/jqvmap/maps/jquery.vmap.usa.js"></script> -->

<!-- jQuery Knob Chart -->
<!-- <script src="/webjars/AdminLTE/3.1.0/plugins/jquery-knob/jquery.knob.min.js"></script> -->
<!-- daterangepicker -->
<!-- <script src="/webjars/AdminLTE/3.1.0/plugins/moment/moment.min.js"></script>
<script src="/webjars/AdminLTE/3.1.0/plugins/daterangepicker/daterangepicker.js"></script> -->

<!-- Tempusdominus Bootstrap 4 -->
<!-- <script src="/webjars/AdminLTE/3.1.0/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script> -->

<!-- Summernote -->
<!-- <script src="/webjars/AdminLTE/3.1.0/plugins/summernote/summernote-bs4.min.js"></script> -->
<!-- overlayScrollbars -->
<!-- <script src="/webjars/AdminLTE/3.1.0/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script> -->
<!-- AdminLTE App -->
<script th:src="@{/webjars/AdminLTE/{pversi}/dist/js/adminlte.js(pversi=${versi})}"></script>

<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!-- <script src="/webjars/AdminLTE/3.1.0/dist/js/pages/dashboard.js"></script> -->

<!-- AdminLTE for demo purposes -->
<!-- <script src="/webjars/AdminLTE/3.1.0/dist/js/demo.js"></script> -->
