 
<link th:href="@{/webjars/AdminLTE/{pversi}/plugins/fontawesome-free/css/all.min.css(pversi=${versi})}" rel="stylesheet">

<!-- Ionicons -->
<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

<!-- Tempusdominus Bootstrap 4 -->
<!-- <link href="/webjars/AdminLTE/3.1.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"> -->
      
<!-- iCheck -->
<link th:href="@{/webjars/AdminLTE/{pversi}/plugins/icheck-bootstrap/icheck-bootstrap.min.css(pversi=${versi})}" rel="stylesheet">

<!-- JQVMap -->
<!-- <link th:href="@{/webjars/AdminLTE/{pversi}/plugins/jqvmap/jqvmap.min.css(pversi=${versi})}" rel="stylesheet"> -->

<!-- Theme style -->
<link th:href="@{/webjars/AdminLTE/{pversi}/dist/css/adminlte.min.css(pversi=${versi})}" rel="stylesheet">

<!-- overlayScrollbars -->
<link th:href="@{/webjars/AdminLTE/{pversi}/plugins/overlayScrollbars/css/OverlayScrollbars.min.css(pversi=${versi})}" rel="stylesheet">

<!-- Daterange picker -->
<link th:href="@{/webjars/AdminLTE/{pversi}/plugins/daterangepicker/daterangepicker.css(pversi=${versi})}" rel="stylesheet">

<!-- summernote -->
<link th:href="@{/webjars/AdminLTE/{pversi}/plugins/summernote/summernote-bs4.css(pversi=${versi})}" rel="stylesheet">

<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
